
html, body {
    margin: 0;
    padding: 0;
}


div#header {
    position: relative;
    display: flex;
    height: 80px;
    background: #e0e0e0
}

div#header h1 {
    /* height: 80px; */
    padding: 0 200px;
    align-items: center;
    color: #292929;
}


div#wrapper {
    float: left;
    width: 100%;
    height: 200px;
}

div#content {
    margin-left: 200px;
    background-color: red;
}

div.add-task {
    height: 50px;
    padding: 20px;
    background-color: orange;
}

div#task {
    margin: 20px;
}